body[b-n1iybuqab0] {
}

#card1[b-n1iybuqab0] {
    background-color: lightgray;
}

#card2[b-n1iybuqab0] {
    background-color: lightgray;
}

#card3[b-n1iybuqab0] {
    background-color: lightgray;
}

#card4[b-n1iybuqab0] {
    background-color: lightgray;
}
